[submodule "docs/learning-cmake"]
	path = docs/learning-cmake
	url = https://github.com/Akagi201/learning-cmake.git
[submodule "docs/vscode-docs"]
	path = docs/vscode-docs
	url = https://github.com/microsoft/vscode-docs.git
