@media screen and (max-width: 599px) {
    .container1 {  
        width: 100%; /* 设置容器的宽度为90% */  
        margin: 0 auto; /* 水平居中容器 */  
        position: relative; /* 设置容器的定位方式为相对定位 */  
        padding-top: 100%; /* 16大格 * 5大格，高宽比为：0.3125 */  
        height: 0; /* 设置容器的高度为0，使其自适应内容的高度 */  
    }
      }
      @media screen and (min-width: 600px) {
    .container1 {  
        width: 100%; /* 设置容器的宽度为90% */  
        margin: 0 auto; /* 水平居中容器 */  
        position: relative; /* 设置容器的定位方式为相对定位 */  
        padding-top: 50%; /* 16大格 * 5大格，高宽比为：0.3125 */  
        height: 0; /* 设置容器的高度为0，使其自适应内容的高度 */  
    }
      }
      
    .container-iframe {  
        position: absolute; /* 设置iframe的定位方式为绝对定位 */  
        top: 0; /* 将iframe定位到容器的顶部 */  
        left: 0; /* 将iframe定位到容器的左侧 */  
        width: 100%; /* 设置iframe的宽度为100% */  
        height: 100%; /* 设置iframe的高度为100% */  
        border: none; /* 可选：移除iframe的边框 */  
    
    }